<body>
  <mat-toolbar color="primary">
    <span>Ideias de Personagens</span>
  </mat-toolbar>

  <table>
    <tr>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Função</th>
      <th>Primária</th>
      <th>Secundaria</th>
      <th>Magia</th>
      <th>Orientação</th>
      <th>Orientação 2</th>
      <th>Equipamento</th>
      <th>Operação</th>
    </tr>
    <tr *ngFor="let personagem of lista_personagens;">
      <td><img src="{{ personagem.downloadURL }}" /></td>
      <td>{{ personagem.nome }}</td>
      <td>{{ personagem.funcao }}</td>
      <td>{{ personagem.principal }}</td>
      <td>{{ personagem.secundaria }}</td>
      <td>{{ personagem.magia }}</td>
      <td>{{ personagem.orientacao }}</td>
      <td>{{ personagem.orientacao2 }}</td>
      <td>{{ personagem.equipamento }}</td>
      <td>
        <button (click)="editar(personagem)" mat-fab color="accent">Editar</button>
        <button (click)="excluir(personagem)" mat-fab color="warn">Excluir</button>
      </td>
    </tr>
  </table>
  <button (click)="irParaCriarPersonagem()" mat-fab color="accent">Criar</button>
</body>
