<p>editar works!</p>
<body>
  <mat-toolbar color="primary">
    <span>Editar Ideia</span>
  </mat-toolbar>

  <form [formGroup]="formEditar" (ngSubmit)="submitForm()">
    <mat-form-field
      style="background-color: rgb(8, 8, 61) !important"
      appearance="fill"
    >
      <mat-label>Ideia principal</mat-label>
      <mat-select formControlName="principal" required>
        <mat-option *ngFor="let first of principal" [value]="first.value">
          {{ first.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field
      style="background-color: rgb(8, 8, 61) !important"
      appearance="fill"
    >
      <mat-label>Ideia secundaria</mat-label>
      <mat-select formControlName="secundaria" required>
        <mat-option *ngFor="let first of secundarias" [value]="first.value">
          {{ first.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field
      style="background-color: rgb(8, 8, 61) !important"
      appearance="fill"
    >
      <mat-label>Magia</mat-label>
      <mat-select formControlName="magia" required>
        <mat-option *ngFor="let first of magias" [value]="first.value">
          {{ first.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field
      style="background-color: rgb(8, 8, 61) !important"
      appearance="fill"
    >
      <mat-label>Orientacao</mat-label>
      <mat-select formControlName="orientacao" required>
        <mat-option *ngFor="let first of orientacaos" [value]="first.value">
          {{ first.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field
      style="background-color: rgb(8, 8, 61) !important"
      appearance="fill"
    >
      <mat-label>Orientacao 2</mat-label>
      <mat-select formControlName="orientacao2" required>
        <mat-option *ngFor="let first of orientacaos2" [value]="first.value">
          {{ first.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field
      style="background-color: rgb(8, 8, 61) !important"
      appearance="fill"
    >
      <mat-label>Funcao</mat-label>
      <mat-select formControlName="funcao" required>
        <mat-option *ngFor="let first of funcaos" [value]="first.value">
          {{ first.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field
      style="background-color: rgb(8, 8, 61) !important"
      appearance="fill"
    >
      <mat-label>Equipamento</mat-label>
      <mat-select formControlName="equipamento" required>
        <mat-option *ngFor="let first of equipamentos" [value]="first.value">
          {{ first.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <br />
  <button mat-raised-button type="submit">Salvar</button>
</body>
