body {
  //background-image: url('https://www.htmlcsscolor.com/preview/gallery/01015F.png');
  background-repeat: repeat;
}
table{
  font-size: large;
  width: 100%;
  background-color: rgb(59, 59, 59);
}

td{
  color: greenyellow;
  text-align: center;
  border:1px solid #FFFFFF;
}

th{
  color: plum;
  font-family:'Lucida Sans';
  text-align: center;
  border:1px solid #FFFFFF;
}