<body>
    <mat-toolbar color="primary">Login</mat-toolbar>
    <form [formGroup]="formLogin" (ngSubmit)="submitForm()">
      <mat-card-header>
        <mat-card-title>Email</mat-card-title>
      </mat-card-header>
      <input text="text" formControlName="email" required /><br />
      <div *ngIf="formLogin.controls['email'].touched">
        <small
          *ngIf="formLogin.controls['email'].hasError('required')"
          style="color: pink"
          >O email é obrigatório!
        </small>
        <small
          *ngIf="formLogin.controls['email'].hasError('email')"
          style="color: pink"
          >Email inválido!</small
        >
      </div>
      <mat-card-header>
        <mat-card-title>Senha</mat-card-title>
      </mat-card-header>
      <input type="password" formControlName="password" required /><br />
      <div *ngIf="formLogin.controls['password'].touched">
        <small
          *ngIf="formLogin.controls['password'].hasError('required')"
          style="color: pink"
          >A senha é obirgatória!</small
        >
        <small
          *ngIf="formLogin.controls['password'].hasError('minlength')"
          style="color: pink"
          >Senha pequena demais!</small
        >
      </div>
      <button type="submit">Login</button>
    </form>
    <button (click)="logarComGoogleCount()" style="background-color: aqua;">Logar com Conta Google</button><br>
    <button (click)="logarComFacebook()" style="background-color: blue;">Logar com Facebook</button><br>
    <a routerLink="/cadastro">Não tem cadastro? Clique aqui</a>
  </body>
  